body {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url(/file/assets/background.jpg);

    font-family: "DejaVuSansBook",Helvetica,Arial,sans-serif !important;
    line-height: 1.4;
}

.comandline pre {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0,0,0, 0.8);
}

#preso, .slide {
  border: none !important;

  background: rgb(255, 255, 255); /* Fall-back for browsers that don't support rgba */
  background: rgba(255, 255, 255, .7);

  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff, endColorstr=#99ffffff);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff, endColorstr=#99ffffff)";;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "DejaVuSansBold",Helvetica,Arial,sans-serif !important;
  font-weight: normal;
}

code, pre, .code {
  font-family: "DejaVuSansMonoBook", Monaco, monospace !important;
}

.content > p {
  font-size: 2.5em;
  text-align: left;
}

.content > ul {
  font-size: 2.5em;
}

.green { color: #3a3;}
.red { color: #f33;}
.blue { color: #33f;}
.grey { color: #888;}

.code.smaller {
  font-size: 50%;
}


















